.sign_in_array__container {
  border: 1px solid var(--site-color);
  border-radius: 8px;

  width: calc(980px - 8px * 2);
  padding: 8px;
}

.sign_in_array__container > ul {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.sign_in_array__container > ul > li {
  list-style-type: none;
  position: relative;
}

.sign_in_array__container > ul > li > button {
  width: 220px;
  height: 200px;
  border: 1px solid var(--site-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(--site-color);
  padding: 8px;

  display: flex;
  flex-direction: column;

  transition: all 1s ease;
}

.sign_in_array__container > ul > li > button:hover {
  box-shadow: 0 0 8px black;
}

.sign_in_array__image_block {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin: 0 auto;
}

.sign_in_array__image_block > img {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  height: auto;
}

.sign_in_array__time {
  text-align: right;
  color: lightgray;

  position: absolute;
  bottom: 8px;
  right: 8px;
}
