:root {
  --site-color: #06c;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}

.content {
  padding-top: 32px;
}

.btn {
  background-color: var(--site-color);
  color: white;
  border: 1px solid var(--site-color);
  border-radius: 8px;
  padding: 8px;
}

.btn:hover {
  color: var(--site-color);
  background-color: transparent;
}
